{% extends "balanceWheel/base.html" %}

{% block title %}BalanceWheel{% endblock title %}

{% block content %}

{# Display a form #}
<form action="{% url 'wheel:vote' question.id %}" method="post" class="form">
{% csrf_token %}
    <div class="wrapper">
        <header>{{ question.question_text }}</header>
        <div class="poll-area">
            {% if error_message %}<p class="error"><strong>{{ error_message }}</strong></p>{% endif %}
            {% for choice in question.choice_set.all %}
                <div>
                    <span class="row">
                    <span class="column">
                        <input class="form-check-input" type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                        <label class="circle" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
                    </span>
                </span>
              </div>
            {% endfor %}
            <input type="submit" value="Далее" class="btn btn-primary">
        </div>
    </div>
</form>
{% endblock %}